<% data_sets = %w[lifetime weekly] %>
<% weapon_type_sets = {'primary': %w[rifle submachine_gun light_machine_gun sniper_rifle shotgun], 'secondary': %w[pistol launcher melee], 'equipment': %w[tactical lethal] } %>

<div class="row">
  <div  class="col-md-12 px-0 px-sm-3">
    <!-- Mode data -->
    <div class="mb-3">
      <div class="full-width">
        <div class="nav nav-tabs mb-2" role="tablist">
          <div class="container">
            <div class="row">
              <h5 class="nav-item nav-text">Modes</h5>
              <% data_sets.each_with_index do |data_set, index| %>
                <a class="nav-item nav-link <%= index.zero? ? 'active' : '' %>" data-toggle="tab" data-index="<%= index %>" data-target="#<%= data_set %>" role="tab" aria-controls="<%= data_set %>" aria-selected="true"><%= data_set.humanize %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <% data_sets.each_with_index do |data_set, index| %>
          <% weekly = data_set == 'weekly' %>
          <div class="tab-pane animated table-responsive show <%= index.zero? ? 'active' : '' %>" id="<%= data_set %>" role="tabpanel" aria-labelledby="<%= data_set %>-tab">
            <table class="table ">
              <thead>
              <tr>
                <th>Mode</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win%</th>
                <th>SPM</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Ratio</th>
                <th>Score</th>
              </tr>
              </thead>
              <tbody>
              <% Player.modes.each do |mode, name| %>
                <% ms = @player.mode_score mode, weekly %>
                <% next unless ms  %>
                <% wp = @player.win_percentage mode, weekly %>
                <% spm = @player.score_per_minute mode, weekly %>
                <% kd = @player.kd_ratio mode, weekly %>
                <tr>
                  <td><%= link_to name, player_mode_path(id: @player.id, mode: mode) %></td>
                  <td><%= @player.wins mode, weekly %></td>
                  <td><%= @player.losses mode, weekly %></td>
                  <td class="<%= stat_direction(wp, @player.win_percentage(mode)) %> table-<%= stat_class(wp, 0.5, 0.75) %>"><%= number_with_precision(percentage(wp), precision: 1) %></td>
                  <td class="<%= stat_direction(spm, @player.score_per_minute(mode)) %> table-<%= stat_class(spm, @player.score_per_minute(nil, weekly)) %>"><%= number_with_precision(spm, precision: 1) %></td>
                  <td><%= @player.kills mode, weekly %></td>
                  <td><%= @player.deaths mode, weekly %></td>
                  <td class="<%= stat_direction(kd, @player.kd_ratio(mode)) %> table-<%= stat_class(kd, @player.kd_ratio(nil, weekly)) %>"><%= number_with_precision(kd, precision: 3) %></td>
                  <td class="<%= stat_direction(ms, @player.mode_score(mode)) %> table-<%= stat_class(ms, @player.mode_score(nil, weekly)) %>"><%= ms %></td>
                </tr>
              <% end %>
              <tr>
                <% wp = @player.win_percentage nil, weekly %>
                <% spm = @player.score_per_minute nil, weekly %>
                <% kd = @player.kd_ratio nil, weekly %>
                <% ms = @player.mode_score nil, weekly %>
                <th>Overall</th>
                <th><%= @player.wins nil, weekly%></th>
                <th><%= @player.losses nil, weekly %></th>
                <th class="<%= stat_direction(wp, @player.win_percentage) %>"><%= number_with_precision(percentage(wp), precision: 1) %></th>
                <th class="<%= stat_direction(spm, @player.score_per_minute) %>"><%= number_with_precision(spm, precision: 1) %></th>
                <th><%= @player.kills nil, weekly %></th>
                <th><%= @player.deaths nil, weekly %></th>
                <th class="<%= stat_direction(kd, @player.kd_ratio) %>"><%= number_with_precision(kd, precision: 3) %></th>
                <th class="<%= stat_direction(ms, @player.mode_score) %>"><%= ms %></th>
              </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Weapon data -->
    <div class="mb-3">
      <div class="full-width">
        <div class="nav nav-tabs mb-2" role="tablist">
          <div class="container">
            <div class="row nav-select">
              <h5 class="nav-item nav-text">Weapons</h5>
              <% default_weapon_set =  weapon_type_sets.first[1].first %>
              <a class="nav-item dropdown nav-select-toggle dropdown-toggle active" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false"><%= default_weapon_set.humanize %>s</a>
              <div class="dropdown-menu nav-select">
                <% weapon_type_sets.each_with_index do |(weapon_class, weapon_types), i1| %>
                  <h6 class="dropdown-header"><%= weapon_class.to_s.humanize %></h6>
                  <% weapon_types.each_with_index do |weapon_type, i2| %>
                    <a class="dropdown-item nav-select-link <%= (i1 + i2).zero? ? 'active' : '' %>" data-toggle="tab" data-target="#<%= weapon_type %>" role="tab" aria-controls="<%= weapon_type %>" aria-selected="false"><%= weapon_type.humanize %>s</a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <% weapon_type_sets.each_with_index do |(weapon_class, weapon_types), i1| %>
          <% weapon_types.each_with_index do |weapon_type_set, i2| %>
            <% next unless @player.weapon_type_data(weapon_type_set) %>
            <div class="table-responsive tab-pane show <%= (i1 + i2).zero? ? 'active' : '' %>" id="<%= weapon_type_set %>" role="tabpanel" aria-labelledby="<%= weapon_type_set %>-tab">
              <table class="table ">
                <thead>
                <tr>
                  <th>Weapon</th>
                  <th>Kills</th>
                  <th>Deaths</th>
                  <th>Multikills</th>
                  <th>KPM</th>
                  <th>DPM</th>
                  <th>Accuracy</th>
                  <th>Ratio</th>
                </tr>
                </thead>
                <tbody>
                <% type_kills =  @player.weapon_type_data(weapon_type_set)[:kills].to_i %>
                <% type_deaths =  @player.weapon_type_data(weapon_type_set)[:deaths].to_i %>
                <% type_time_in_use =  @player.weapon_type_data(weapon_type_set)[:time_in_use].to_i %>
                <% type_kpm = stat_per_minute(type_kills, type_time_in_use) %>
                <% type_dpm = stat_per_minute(type_deaths, type_time_in_use) %>
                <% type_acc = weapon_accuracy(@player.weapon_type_data(weapon_type_set)[:hits], @player.weapon_type_data(weapon_type_set)[:shots]) %>
                <% type_kd = weapon_kd_ratio(type_kills, type_deaths) %>
                <% @player.weapon_data&.select{|_, weapon_data| weapon_data['weapon_type'] == weapon_type_set }&.each do |weapon_name, weapon_data| %>
                  <% next if weapon_data['shots'].zero? %>
                  <% acc = weapon_accuracy(weapon_data['hits'], weapon_data['shots'])%>
                  <% kd = weapon_kd_ratio(weapon_data['kills'], weapon_data['deaths'])%>
                  <% kpm = stat_per_minute(weapon_data['kills'], weapon_data['timeInUse']) %>
                  <% dpm = stat_per_minute(weapon_data['deaths'], weapon_data['timeInUse']) %>
                  <tr>
                    <td><%= link_to weapon_name, player_weapon_path(id: @player.id, weapon: weapon_name) %></td>
                    <td><%= weapon_data['kills'].to_i %></td>
                    <td><%= weapon_data['deaths'].to_i %></td>
                    <td><%= weapon_data['multikills'].to_i %></td>
                    <td class="table-<%= stat_class(kpm, type_kpm) %>"><%= number_with_precision(kpm, precision: 3) %></td>
                    <td class="table-<%= stat_class(type_dpm, dpm) %>"><%= number_with_precision(dpm, precision: 3) %></td>
                    <td class="table-<%= stat_class(acc, type_acc) %>"><%= number_with_precision(acc, precision: 1) %></td>
                    <td class="table-<%= stat_class(kd, type_kd) %>"><%= number_with_precision(kd, precision: 3) %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Overall</th>
                  <th><%= type_kills %></th>
                  <th><%= type_deaths %></th>
                  <th><%= @player.weapon_type_data(weapon_type_set)[:multikills].to_i %></th>
                  <th><%= number_with_precision(type_kpm, precision: 3) %></th>
                  <th><%= number_with_precision(type_dpm, precision: 3) %></th>
                  <th><%= number_with_precision(type_acc, precision: 1) %></th>
                  <th><%= number_with_precision(type_kd, precision: 3) %></th>
                </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- Division data -->
    <div class="mb-3">
      <div class="full-width">
        <div class="nav nav-tabs mb-2" role="tablist">
          <div class="container">
            <div class="row">
              <h5 class="nav-item nav-text">Divisions</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane animated table-responsive show active" id="division_data" role="tabpanel" aria-labelledby="division_data-tab">
          <table class="table ">
          <thead>
            <tr>
              <th>Division</th>
              <th>Kills</th>
              <th>Deaths</th>
              <th>KPM</th>
              <th>DPM</th>
              <th>Ratio</th>
            </tr>
          </thead>
          <tbody>
            <% Player.divisions.each do |division, name| %>
              <% kd = @player.kd_ratio(division) %>
              <% next unless kd %>
              <tr>
                <td><%= name %></td>
                <td><%= @player.kills division %></td>
                <td><%= @player.deaths division %></td>
                <td><%= number_with_precision(@player.kills_per_minute(division), precision: 1) %></td>
                <td><%= number_with_precision(@player.deaths_per_minute(division), precision: 1) %></td>
                <td class="table-<%= stat_class(kd, @player.kd_ratio(nil)) %>"><%= number_with_precision(kd, precision: 3) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>